{% extends "base.html" %}
{% block title %}混合排列统计表{% endblock %}
{% block content %}
{% if error %}
    <p>{{error}}</p>
{% else %}
    <form class="form" method="get" action="{{request.path}}">
            <label>供应商承担余料的百分比</label><input type="number" value="{{percent}}" max="100", min="0" id="percent" name="percent"/>
    </form>
    <table class="table table-bordered table-hover">
        <thead>
            <tr><td colspan="{{col_num}}"> <p>板材：{{sheet_name}}， 一共使用：{{num_sheet}}块， 平均使用率(包含{{percent}}%余料)：{{avg_rate}}</p></td></tr>
            <tr>
                <td colspan="3">板材编号</td>
                {% for value in bin_num %}
                <td> P{{ forloop.counter }}</td>
                {% endfor %}
                <td>总数</td>
            </tr>
            <tr>
                <td>编号</td><td>长度</td><td>宽度 \ 数量：</td>
                {% for value in bin_num %}
                <td> {{value}}</td>
                {% endfor %}
                <td>{{num_sheet}}</td>
            </tr>
        </thead>
        <tbody>
            {% for detail in details %}
            <tr>
                <td>#{{ forloop.counter0 }}</td><td>{{detail.width}}</td><td>{{detail.height}}</td>
                {% for value in detail.num_list %}
                <td> {{value}} </td>
                {% endfor %}
                <td>{{detail.total}}</td>
            </tr>
            {% endfor %}

            <tr><td colspan="3">图形总数：</td>
            {% for num in sheet_num_shape %}
                <td>{{num}}</td>
            {% endfor %}
            </tr>

            <tr><td colspan="3">利用率：</td>
            {% for rate in rates %}
                <td>{{rate}}</td>
            {% endfor %}
            </tr>

            {% if total_rates %}
            <tr><td colspan="3">总利用率(余料占比{{percent}}%)：</td>
            {% for rate in total_rates %}
                <td>{{rate}}</td>
            {% endfor %}
            </tr>
            {% endif %}

            {% if empty_section_ares %}
            <tr><td colspan="3">余料面积(mm^2)：</td>
            {% for ares in empty_section_ares %}
                <td>{{ares}}</td>
            {% endfor %}
            </tr>
            {% endif %}
        </tbody>
    </table><br>
    {% if empty_sections %}
    <table class="table table-bordered table-hover">
        <thead><tr><td>余料</td><td>数量</td><td>面积(mm^2)</td>
            {% for detail in details %}
                <td>#{{forloop.counter0}}</td>
            {% endfor %}
        </tr></thead>
        <tbody>
        {% for section in empty_sections %}
        <tr><td>{{section.name}}</td><td>{{section.num}}</td> <td>{{section.ares}}</td>
            {% for reuse_detail in section.shape_package %}
                <td>{{reuse_detail.amount}}({{reuse_detail.rate}})</td>
            {% endfor %}
        </tr>
         {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <p><a href="/{{pic_url}}" target="_blank"> 排版设计图 </a> | <a href="http://119.145.166.182:8090{{origin_url}}" target="_blank"> 新开窗口显示 </a> </p>

{% endif %}
{% endblock%}
