{% extends "base.html" %}
{% block title %}小程序{% endblock %}
{% block content %}
<div class="jumbotron">
<h1>欢迎来到这里</h1>
</div>
    <h3>组件使用率计算</h3>
    <p><a href="{% url 'single_use_rate_demo' %}">进入</a></p>

    <h3>产品混合使用率计算</h3>
    <p><a href="{% url 'product_use_rate_demo' %}">进入</a></p>

    <h3>方案列表</h3>
    <p><a href="/project">进入</a></p>

    <h3>添加任务</h3>
    <p><a href="/save_work">进入</a></p>

    <h3>算法使用统计</h3>
    <p><a href="/statistics_algo">进入</a></p>
    <hr>
    <h3>评论分析</h3>
    <p><a href="/calc_comment">进入</a></p>
    <h3>评论标签分类学习</h3>
    <p><a href="/nlp_learn">进入</a></p>
{% endblock %}
