{% extends "base.html" %}
{% block title %}产品使用率计算{% endblock %}
{% block content %}
<div class="jumbotron">
    {% if error %}
    <p style="color:red">输入错误：{{ info }}</p>
    {% endif %}
<form method="post" action="{% url 'product_use_rate_job'%}">
    <textarea rows="4" cols="50" name="project_comment" placeholder="描述需要排版的产品系列">{{ project_comment }}</textarea><br>
    <label>组件的间隙(mm)：</label><input type="number" name="border" value="5" min="0"/><br/>
    <p>组件数据格式：板木编号,宽,长,数量; 例子：A 582 58 20;B 732 58 20;C 770 450 10;A 770 450 10</p>
    <textarea rows="4" cols="50" name="shape_data">{{ shape_data }}</textarea>
    <p>板木数据格式：板木编号,名字,长,宽,是否有纹理（0 / 1 = 无 / 有）, 水平或竖直摆放（0 / 1 = 水平 / 竖直）</p>
    <p>例子：A 双面胡桃木哑光25mm 2430 1210 1 0;B 双面白布纹哑光18mm 2430 1210 0 0;C 单面胡桃木哑光9mm 2430 1210 1 1</p>
    <textarea rows="4" cols="50" name="bin_data">{{ bin_data }}</textarea><br>
    <hr>
    <p>余料判别参数调整</p>
    <label>余料最小面积(mm^2)：</label><input type="number" name="min_size" min="0"  value="80000"/><br>
    <label>余料长边最小值(mm)：</label><input type="number" name="min_width" min="0" value="380"/><br>
    <label>余料短边最小值(mm)：</label><input type="number" name="min_height" min="0" value="190"/><br>
    <label>有效余料比例（0-100）：</label><input type="number" name="effective_rate" min="0" max="100" value="50"/><br>
    <p>余料再利用数据格式：板木编号,长,宽,数量，例子：A 2130*1010*18 1;A 630*510*18 3</p>
    <textarea rows="2" cols="50" name="bins_num">{{ bins_num }}</textarea><br>
    <p><label for="id_cut_linear_p">切割线系数:</label> <input id="id_cut_linear_p" max="100" min="0" name="cut_linear_p" type="number" value="30"></p>
    <p><label for="id_empty_section_p">余料系数:</label> <input id="id_empty_section_p" max="100" min="0" name="empty_section_p" type="number" value="70" required=""></p>
    <input type="submit" value="提交" />
    {% if project_id %}
        <a href="/project_detail/{{project_id}}"> 结果 </a><br>
    {% endif %}
    <hr>
    <p>如果输入的数量较多，可以指定算法，节省时间</p>
    {{form.as_p}}

</form>

</div>
{% endblock %}