{% extends "base.html" %}
{% block title %}混合排列方案{% endblock %}
{% block content %}
{% if error %}
<p>{{error}}</p>
{% else %}
<div class="row">
        <p>创建时间： {{created| date:"Y年n月d日 H:i" }} </p>
        {% if comment_text %}
        <p>描述：{{comment_text}} </p>
        {% endif %}

        {% if comment_json %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td>序号</td>
                <td>系列</td>
                <td>产品编号</td>
                <td>产品名称</td>
                <td>产品描述</td>
                <td>系列版本</td>
                <td>产品版本</td>
                <td>数量</td>
            </tr>
            </thead>
            <tbody>
            {% for data in comment_json %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.Series}}</td>
                <td>{{data.SkuCode}}</td>
                <td>{{data.ItemName}}</td>
                <td>{{data.SkuName}}</td>
                <td>{{data.SeriesVersion}}</td>
                <td>{{data.BOMVersion}}</td>
                <td>{{data.Amount}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
</div>
<hr>
<div class="clear"></div>
<div class="row">
        {%for abin in bin_list %}
        <div >
            <p>{{abin.sheet_name}}</p>
            <p>使用数量：{{abin.num_sheet}}, 平均使用率：{{abin.avg_rate}}, 切割线长度：{{abin.cut_linear}}mm</p>
            <p><a href="/{{abin.pic_url}}" target="_blank"> 排版设计图 </a> | <button id="{{ abin.bin_id}}" onclick="sendMes(this)" type="button" class="btn btn-primary btn-xs">统计信息</button>
            </p>
            <div id="detail_{{ abin.bin_id}"></div>
            <hr>
        </div>
        {% endfor %}
        <a href="/project" class="btn btn-default">返回</a>
</div>
{% endif %}
<iframe id="detail" frameborder=0 src="" width="100%" height="600"></iframe>
{% endblock%}

{% block script %}
<script type="text/javascript" language="javascript">

function sendMes(obj){
  $('#detail').attr('src', '/product/' + obj.id);
  window.location.hash = "#detail";
}

</script>
{% endblock %}